.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    width: 800px;
    margin: 5px;
    border: 3px dashed #fcf;
}

.myitem button{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.ItemsForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sortirovka{
    display: flex;
    align-items: center;
}

.rotatingSqr{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 120px;
    height: 120px;
    border-radius: 20%;
    background-color: #fcf;
    top:40%;
    font-size: 30px;
    font-weight: 600;
    color: white;
}
