html{
    scroll-behavior: smooth;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:nowrap;
    width: 800px;
    margin: 5px;
    border: 3px dashed #fcf;
}

.item_buttons{
    display: flex;
}

.item_buttons button{
    min-width: 30px;
    height: 30px;
    margin: 5px;
}

.ItemsForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sortirovka{
    display: flex;
    align-items: center;
}

.rotatingSqr{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 120px;
    height: 120px;
    border-radius: 20%;
    background-color: #fcf;
    top:40%;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.page_wrapper{
    position: sticky;
    display: flex;
    justify-content: center;
    width: 1440px;
    overflow: hidden;
}

.page{
    width: 50px;
    height: 50px;
}

.page_current{
    color: black !important;
    background-color: #fcf !important;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #fcf;
}

.navbar_links a{
    margin: 5px;
    width: 100px;
    height: 50px;
    font-size: 25px;
    text-decoration: none;
    color: #303030;
    background-color: aliceblue;
}

.navbar_links a:hover{
    color: firebrick;
}

.login_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    max-width: 400px;
}
